<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarks</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="site-header">
        <h1>Bookmarks</h1>
    </header>

    <main class="main-content">
            {{ content | safe }}
        </main>
    </div>

    <footer class="site-footer">
        <p>&copy; {{ "now" | date('yyyy') }} Built with 11ty.</p>
    </footer>

</body>
</html>
